---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="A propos"
	description="Quelques informations sur moi"
	pubDate={new Date('July 07 2023')}
	updatedDate={new Date('July 07 2023')}
	heroImage="/nicolasbonnet/placeholder-about.jpg"
>

	<h1>Parcours personnel - Etude</h1>
	<p>
		J’ai commencé ma formation postbac par un BTS informatique de gestion option développeur d’applications où j’ai acquis les bases techniques de la programmation. J’ai, par la suite, continué mes études supérieures à l’école SUPINFO où je me suis perfectionné dans le développement mais aussi dans la partie système et réseau, informatique décisionnelle, et gestion de projet informatique. En 2014, j’ai obtenu mon diplôme de Master « Expert en informatique et système d’information ».
	</p>
	<p>
		Voici mon mémoire de fin d'année: <a href="/nicolasbonnet/pdf/memoire_de_fin_dannee_final_supinfo_2014.pdf">Lien</a>
	</p>

	<p>
		WIP
	</p>
</Layout>
