---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ma présentation.">
	<main>
		<h1>Bienvenue sur ma page perso</h1>
        <hr>
        <h2>Objectif de ce site</h2>
        <p>Mon but est de mettre toutes les connaissances que j'ai pu acquérir lors de mes expériences professionel</p>
        <p>Ainsi, cela se présentera plus comme un blog où j'y livrerai mes retours d'expériences</p>
        <h2>WIP</h2>
    </main>
</Layout>